[mysqld]
user            = mysql
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
port            = 3306
basedir         = /usr
datadir         = /database/mysqldata
tmpdir          = /database/mysqltmp
default-time-zone='+05:30'
log_timestamps   = 'SYSTEM'
local_infile = 1


local_infile=1
secure-file-priv=/var/lib/mysql-files
skip-host-cache
skip-name-resolve

information_schema_stats_expiry=0
# mysql 5.7 mysql_native_password
default-authentication-plugin=mysql_native_password
# mysql 8 caching_sha2_password
#default_authentication_plugin=caching_sha2_password


#lc-messages-dir = /usr/share/mysql
#skip-external-locking
#key_buffer_size         = 16M
#max_allowed_packet      = 16M
#thread_stack            = 192K
#thread_cache_size       = 8
#myisam-recover-options  = BACKUP
#query_cache_limit       = 1M
#query_cache_size        = 16M
log_error = /database/mysqllog/error.log
#expire_logs_days        = 5
#max_binlog_size   = 100M
sql_mode = NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION
information_schema_stats_expiry=0
group_concat_max_len = 1000000

# Slave Configuration
server-id=1
#log-bin=/database/mysqlbinlog/mysql-bin.log # Point this to your binlog location
innodb_flush_log_at_trx_commit=1
#sync_binlog=1
skip-log-bin
#expire_logs_days=3
binlog_expire_logs_seconds=259200
max_binlog_size=100M
#binlog_format=ROW

# Memory allocations
innodb_buffer_pool_size={{ mysql_memory_str }}
#innodb_log_buffer_size=32M
#innodb_log_file_size=500M
#innodb_write_io_threads=4
#innodb_read_io_threads=8
#open_files_limit=8000
max_connections=1000


#Slow query log
long_query_time=2
log_output=TABLE
slow_query_log=ON


#Enable InnoDB Buffer Pool Preloading (saves bufferpool data before restart , helps with slowness after restarts)
innodb_buffer_pool_dump_at_shutdown = 1
innodb_buffer_pool_load_at_startup = 1

innodb_flush_method = fsync
thread_cache_size = 13
read_rnd_buffer_size = 512000
sort_buffer_size = 262144
join_buffer_size = 262144

host_cache_size = 628
